<a href="https://colab.research.google.com/github/jinah123/jinah123/blob/main/week_3%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 1

In [ ]:
a = 90
b = 80
c = 100
sum = a+b+c
avg = (a+b+c)/3 
a= print("kor", 90)
b=print("mat", 80)
c= print("eng", 100)
print("sum", sum)
print("avg", avg)

kor 90
mat 80
eng 100
sum 270
avg 90.0

In [ ]:
x = int(input("kor:"))
y = int(input("mat:"))
z = int(input("eng:"))
sum = (x+y+z)
print("sum", sum )
avg = ((x+y+z)/3)
print("avg",avg)

kor:90
mat:80
eng:100
sum 270
avg 90.0

문제 2

In [ ]:
letter="T"
print("T"*10)
print("T"*10)
print('   ',"T"*2,'    ')
print('   ',"T"*2,'    ')
print('   ',"T"*2,'    ')

TTTTTTTTTT
TTTTTTTTTT
    TT
    TT
    TT

문제 3

In [ ]:
a=10
b=20
c=30

print (a,"+",b,"=",c)

10 + 20 = 30

문제 4

In [ ]:
first=20
second=50
third=100

sum=first+second+third
print("sum =",sum)
avg=(first+second+third)//3
print("avg =",avg)

sum = 170
avg = 56

In [ ]:
x = int(input("first integer"))
y = int(input("second integer"))
z = int(input("third integer"))

sum = x+y+z
print("sum",sum)
avg = (x+y+z)//3
print("avg",avg)

first integer20
second integer50
third integer100
sum 170
avg 56

문제 5

In [ ]:
yard=91.44
n=10.1*yard

print("10.1yard =",round(n,1),"cm")

10.1yard = 923.5 cm

operator

문제 1

In [ ]:
a=4
b=5
if a>b:
  print(0)
else:
  print(0)

if a<b:
  print(1)
else:
  print(0)

if a>=b:
  print(1)
else:
  print(0)
  
if a<=b:
  print(1)
else:
  print(0)

0
1
0
1

In [ ]:
5
a = int(input("first integer:"))
b = int(input("second integer"))

if a>b:
  print(1)
else:
  print(0)

if a<b:
  print(1)
else:
  print(0)

if a>=b:
  print(1)
else:
  print(0)
  
if a<=b:
  print(1)
else:
  print(0)

first integer:4
second integer5
0
1
0
1

문제 2 (1)

In [ ]:
first=10
second=9
third=9
if first>second:
  print(1)
else:
  if first>third:
    print(1)
  else:
    print(0)


if first==second==third:
  print(1)
else:
  print(0)

1
0

문제 2 (2)

In [ ]:
first=10
second=9
third=9

if first>third==second:
  print(1)
else:
  print(0)


if first==second:
  print(1)
else:
  if first==third:
    print(1)
  else:
    print(0)

1
0

In [ ]:
a = int(input("first integer:"))
b = int(input("second integer:"))
c =int(input("third integer:"))
if a>b:
  print(1)
else:
  if a>c:
    print(1)
  else:
    print(0)


if a==b==c:
  print(1)
else:
  print(0)

first integer:10
second integer:9
third integer:9
1
0

문제 3

In [ ]:
a=10
b=20
c=10+1
d=20-1

print(c)
print(d)
print(c*d)

11
19
209

In [ ]:
a = int(input("first integer"))
b = int(input("second integer"))
c = a+1
d = b-1
print(c)
print(d)
print(c*d)

first integer10
second integer20
11
19
209

문제 4

In [ ]:
minsu_height=150
gayeong_height=145 

minsu_weight=35 
gayeong_weight=35

if minsu_height > gayeong_height and minsu_weight > gayeong_weight:
  print(1)
else:
  print(0)

0

In [ ]:
a = int(input("minsu height:"))
b = int(input("minsu weight:"))
c = int(input("gayeong height:"))
d = int(input("gayeong weight:"))

if a>c and b>d:
  print(1)
else:
  print(0)

minsu height:150
minsu weight:35
gayeong height:145
gayeong weight:35
0