<a href="https://colab.research.google.com/github/jinah123/jinah123/blob/main/%EB%8B%A4%EC%96%91%ED%95%9C_%EC%9E%90%EB%A3%8C_%EA%B5%AC%EC%A1%B0_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제1

In [10]:
x = int(input("계정의 수를 입력하시오:"))
y = list()
for i in range(x):
  z = input("아이디,승률,계급을 입력하시오:")
  spl = z.split()
  y.append(spl)
  if ((y[i][2] != 'Bronze') and (float(y[i][1])) >= 60.0) or (y[i][2] == 'Platinum'):
    print ('[GOSU]',y[i][0])

계정의 수를 입력하시오:5
아이디,승률,계급을 입력하시오:hec419 62.4 Platinum
[GOSU] hec419
아이디,승률,계급을 입력하시오:comkiwer 52.3 Platinum
[GOSU] comkiwer
아이디,승률,계급을 입력하시오:eva 60.7 Silver
[GOSU] eva
아이디,승률,계급을 입력하시오:ohjtgood 49.7 Gold
아이디,승률,계급을 입력하시오:teriusu 65.1 Bronze

문제 2

In [ ]:
list1 = [int(x) for x in input().split()] 
list2 = [int(x) for x in input().split()]
list3 = [int(x) for x in input(). split()]

set1 = set(list1)
set2 = set(list2)
set3 = set(list3)

print('Intersection:', set1&set2&set3)
print('Union:', set1|set2|set3)

1 2 3 4 5 1 2 3 4 5
1 5 2 5 5 4
10 8 6 2 4
Intersection: {2, 4}
Union: {1, 2, 3, 4, 5, 6, 8, 10}

문제 3

In [ ]:
x = int(input("정수 갯수를 입력하시오 :"))
country = dict()

for i in range(x):
  z = input('나라의 이름과 수도를 입력하시오:')
  spl = z.split()
  con = spl[0]
  cap = spl[1]
  country[con] = cap 

y = input('나라의 이름을 입력하시오:')
if y in country:
  print(country.get(y))
else:
  print('unknow country')

정수 갯수를 입력하시오 :5
나라의 이름과 수도를 입력하시오:Korea Seoul
나라의 이름과 수도를 입력하시오:Russia Moscow
나라의 이름과 수도를 입력하시오:USA  Washington_D.C
나라의 이름과 수도를 입력하시오:Britain London
나라의 이름과 수도를 입력하시오:Germany BErlin
나라의 이름을 입력하시오:USA
Washington_D.C

문제4

In [ ]:
from collections import Counter

x = input("최우수상 받은 학생들의 이름을 입력하시오:")
y = x.split()
z = Counter(y)

num = int(input("정수를 입력하시오:"))
for name, time in z.items():
  if time == num:
    print(name)

최우수상 받은 학생들의 이름을 입력하시오:Cindy Katherline Mark Mark Cindy Jack Cindy Maria Katherline
정수를 입력하시오:2
Katherline
Mark

문제 5

In [ ]:
carName = input("주차장에 세워진 차종을 입력하시오:")
x = carName.split()
y = set(x)
z = list(y)

for i in z:
  print(i,end='')
print()
print(len(z))

주차장에 세워진 차종을 입력하시오:Grandeur Avante Sonata Sonata Avante Genesis Sonata
GenesisSonataAvanteGrandeur
4

문제6

In [ ]:
x = int(input("정수를 입력하시오:"))
y = dict()

for i in range (x):
  z = input('키,자료를 입력하시오:')
  spl = z.split()
  i = spl[0]
  j = spl[1]

  y[i] = j

add = input('문자열을 입력 하시오')
print(y[add])

정수를 입력하시오:6
키,자료를 입력하시오:Adagio 60
키,자료를 입력하시오:Andante 80
키,자료를 입력하시오:Moderato 100
키,자료를 입력하시오:Allegro 120
키,자료를 입력하시오:Vivace 160
키,자료를 입력하시오:Presto 180
문자열을 입력 하시오Allegro
120