<a href="https://colab.research.google.com/github/jinah123/jinah123/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

반복문 과제 1

문제 1

In [ ]:
sum = 0
i = 1

x = int(input("100 이하의 양의 정수를 입력하시오:"))
if x > 100 or x == 0:
  print('error')
else: 
  while i <= x:
    sum = sum + i
    i = i + 1
  print(sum)

100 이하의 양의 정수를 입력하시오:10
55

문제 2

In [ ]:
sum = 0

x= int(input("100이하의 정수를 입력하시오:"))
if x <= 100:
  for i in range(x,101):
    sum += i
  print(sum)
else:
  print('error')

100이하의 정수를 입력하시오:95
585

문제 3

In [ ]:
x = int(input("자연수를 입력하시오:"))

for i in range(1,11):
 y = x * i
 print(y, end=" ")

자연수를 입력하시오:5
5 10 15 20 25 30 35 40 45 50

문제 4

In [ ]:
sum = 0
i = 1

x = int(input("100 이하의 양의 정수를 입력하시오:"))
if x > 100 or x == 0:
  print('error')
else: 
  while i <= x:
    sum = sum + i
    i = i + 1
  print(sum)

100 이하의 양의 정수를 입력하시오:10
55

문제 5

In [ ]:
count = 0
while True:
  N = int(input("정수를 입력하시오:"))
  if N % 3 != 0 and N % 5 != 0:
    count = count + 1 
  elif N == 0:
    print(count)
    break

정수를 입력하시오:1
정수를 입력하시오:2
정수를 입력하시오:3
정수를 입력하시오:4
정수를 입력하시오:5
정수를 입력하시오:6
정수를 입력하시오:7
정수를 입력하시오:8
정수를 입력하시오:9
정수를 입력하시오:10
정수를 입력하시오:0
5

문제 6

In [ ]:
while True:
  base = int(input("Base="))
  height = int(input("Height="))
  Triangle_width = 1/2*height*base
  print("Triangle_width=",round(Triangle_width,1))
  word = input("continue?")
  if word == 'Y' or word == 'y':
    continue
  else: 
    break

Base=11
Height=5
Triangle_width= 27.5
continue?Y
Base=10
Height=10
Triangle_width= 50.0
continue?N

문제 7

In [ ]:
for y in range(2,7):
  for x in range(5):
    print(y+x, end=" ")
  print("")

2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9
6 7 8 9 10

반복문 과제 2

문제 1

In [ ]:
sum = 0 
count = 0 
i = 1
N = int(input("자연수를 입력하시오:"))

if N == 0:
  print('error')
else:
  while True:
    sum = sum + i
    count = count + 1
    i = i + 2
    if sum >=N:
      print(count,sum)
      break

자연수를 입력하시오:100
10 100

문제 2

In [ ]:
2<x<9 or 2<y<9
x = int(input('2부터 9 사이의 수를 입력 하시오 :'))
y = int(input('2부터 9 사이의 수를 입력 하시오:'))
if x>y:
  for i in range (1,10):
    for j in range (x-y+1):
      print(x-j,"*",i,"=",(x-j)*i, end=' ')
    print('')
elif x<y:
 for i in range (1,10):
  for j in range (y-x+1):
    print(x+j,"*",i,"=",(x+j)*i,end=' ')
  print('')

2부터 9 사이의 수를 입력 하시오 :5
2부터 9 사이의 수를 입력 하시오:3
5 * 1 = 5 4 * 1 = 4 3 * 1 = 3
5 * 2 = 10 4 * 2 = 8 3 * 2 = 6
5 * 3 = 15 4 * 3 = 12 3 * 3 = 9
5 * 4 = 20 4 * 4 = 16 3 * 4 = 12
5 * 5 = 25 4 * 5 = 20 3 * 5 = 15
5 * 6 = 30 4 * 6 = 24 3 * 6 = 18
5 * 7 = 35 4 * 7 = 28 3 * 7 = 21
5 * 8 = 40 4 * 8 = 32 3 * 8 = 24
5 * 9 = 45 4 * 9 = 36 3 * 9 = 27

문제 3

In [ ]:
x = int(input("행을 입력 하시오:"))
y = int(input("열을 입력 하시오:"))

for i in range (1,x+1):
  for j in range (0,y):
    print(i + j*i, end =' ')
  print()

행을 입력 하시오:3
열을 입력 하시오:4
1 2 3 4
2 4 6 8
3 6 9 12

문제 4

In [ ]:
line = int(input("줄 수를 입력:"))
for y in range (line):
  for x in range (y+1):
    print("*",end="")
  print()

줄 수를 입력:5
*
**
***
****
*****

문제 5

In [ ]:
x = int(input("자연수를 입력 하시오:"))

for i in range (x):
  for j in range (i):
    print("",end=' ')
  for j in range ((x-i)*2-1):
    print("*", end ='')
  print()

자연수를 입력 하시오:3
*****
 ***
  *

문제 6

In [ ]:
x = int(input("자연수를 입력하시오:"))

if x<1 or x>100:
  print("eror")
else:
  for multiple in range(1,11):
    answer = x * multiple
    print(answer, end=' ')

자연수를 입력하시오:7
7 14 21 28 35 42 49 56 63 70

문제 7

In [ ]:
x = int(input("자연수 를입력하시오:"))

for y in range (1,x+1):
  for z in range(x-y):
    print(' ', end='')
  for z in range (y):
    print(z+1,end='')  
  print('')

자연수 를입력하시오:3
  1
 12
123

문제 8

In [ ]:
# 1 2 3
  # 4 5
  #   6

x = int(input("자연수를 입력하시오:"))
y = 1

for i in range (x): # x=3 , i=0,1,2
  for j in range (i): 
    print(' ',end='')
  for j in range (x-i):
    print(y, end='')
    y += 1
  print('')

자연수를 입력하시오:3
123
 45
  6

문제 9

In [ ]:
x = int(input('자연수를 입력하시오:'))
y = 1

for i in range (x):
  for j in range(x):
    print(y, end='')
    y = (y + 2) % 10
  print('')

자연수를 입력하시오:3
135
791
357